# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.env
*.egg-info/

# Build çıktıları
output/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# cobra-tools local clone
cobra-tools/
